 <div class="foot">
   <div class="icons">
     <ul>
       <li>
         <i class="fab fa-facebook-f"></i>
         <i class=" fab fa-youtube-square"></i>
         <i class="fab fa-twitter"></i>
         <i class="fab fa-instagram-square"></i>
       </li>
     </ul>
   </div>

   <div class="container">
     <div class="row">
       <div class=" col-4 dropdown">
         <a class="text-uppercase"> <strong>hakkımızda</strong> <br></a>
         <ul>
           <li>Tarihçe</li>
           <br>
           <li>Şirketimiz</li>
           <br>
           <li>Bizden Haberler</li>
         </ul>
       </div>

       <div class=" col-4">
         <a class="text-uppercase foot"> <strong>Misafir ilişkileri</strong> <br></a>
         <ul>
           <li>Sıkça Sorulan Sorular</li>
         </ul>
       </div>

       <div class="col-4">
         <a class="text-uppercase foot"> <strong>hızlı bağlantılar</strong> <br></a>
         <ul>
           <li>Besin Değeri Tablomuz</li>
           <br>
           <li>Mağazalarımız</li>
         </ul>
       </div>

       <p>© 2019 Starbucks Coffee Company. Tüm hakları saklıdır.</p>

     </div>
   </div>
 </div>
