.pad {
  padding-top: 8px;

}

h3 {
  color: #2A8A15;
}

h3:hover {
  background-color: #2A8A15;
  color: white;
  display: inline;
}

li {
  color: #2A8A15;
  list-style-type: none;
}

li:hover {
  color: white;
  background-color: #2A8A15;
  display: inline;
}
