<div class="container">

  <div class="container">
    <div class="row">

      <ul class="navbar-nav">
        <li>
          <img class="container-fluid" src="assets/img-starbucks/1.jpg" alt="">
        </li>

        <li>
          <img class="container-fluid" src=" assets/img-starbucks/2.png" alt="">
        </li>

        <li>
          <img class="container-fluid" src="assets/img-starbucks/4.jpg" alt="">
        </li>

        <li>
          <img class="container-fluid" src="assets/img-starbucks/7.jpg" alt="">
        </li>

        <li>
          <img class="container-fluid" src="assets/img-starbucks/5.jpg" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>
